@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Source+Sans+Pro:300,400,600,700');

html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    color: #989898;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

p {
    font-size: 15px;
    font-weight: 500;
    position: relative;
}

form {

    .btn {
        position: relative;
        display: block;
        margin: auto;
        left: 0;
        top: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000;
}

h6 {
    margin: 20px 0;
    font-size: 20px;
}

.logo-web.flex-grid {
    justify-content: flex-start;
}

.flex-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex_part-50 {
    flex: 0 0 49.5%;
}

.logo-mob {
    display: none;
}

.wrapper {
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-wrapper {
    flex: 1 0 auto;

    .container {
        padding: 30px 10px;
    }
}

.auth {
    margin: 30px 0;
}

.logo {
    padding: 12px 0;

    a {
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 600;
        letter-spacing: 2px;
        color: #fff;
        display: inline-block;
        border: 2px solid #FFF;
        padding: 0 12px;

        &:hover {
            color: #FF6900;
            border: 2px solid #FF6900;
            text-decoration: none;
        }
    }
}

.breadcrumbs {
    padding: 0;
    justify-content: flex-start;

    li {
        position: relative;
        margin: 3px 0;
        list-style: none;
        font-size: 14px;
        color: #000;

        a {
            color: #989898;
            font-weight: 400;
        }
    }

    .separator {
        margin-left: 5px;
        margin-right: 5px;
        opacity: 0.5;
    }
}

.header {
    background: #1E201F;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 5;

    .main-menu {
        padding: 14px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                position: relative;

                a {
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: #fff;
                    display: block;
                    padding: 10px 15px;

                    &:hover {
                        color: #FF6900;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .cart-contact {
        position: relative;
        padding: 13px 0;
        justify-content: flex-end;

        .cart-count {
            line-height: 22px;
            font-size: 14px;
            color: #FF6900;
        }

        a {

            &:hover {
                color: #fbe5d6;
                text-decoration: none;
            }
        }

        button {
            background: #fff;
            padding: 0px 10px;
            border: 0;
            outline: 0;
            display: inline-block;
            color: #FF6900;
            cursor: pointer;

            &:hover {
                background: #fbe5d6;
            }

            .flex-grid {
                margin: 3px 0;
            }

            .icon {
                background: url("../img/shopping-cart.svg");
                display: block;
                width: 18px;
                height: 18px;
                background-size: cover;
                margin-left: 10px;
            }
        }
    }

}

.footer {
    background: #1E201F;
    height: 200px;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;

    .logo {
        text-align: center;
    }
}

.boxed-btn {
    display: inline-block;
    background: #FF6900;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
}

.menu-item {
    text-align: center;
    border: 1px solid #eee;
    padding: 25px;
    margin-top: 20px;

    .text {
        height: 104px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow-y: hidden;
        margin-bottom: 20px;

        p {
            overflow: hidden;
        }
    }
}

.table {
    margin: 20px 0;
}

.order-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

a {
    color: #FF6900;

    &:hover {
        color: #FF6900;
    }
}

.details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .item {
        margin-left: 0px;
    }

    h6 {
        margin-bottom: 0;
    }

    .total {
        width: 100%;
        margin: 10px 0;

        .col-6 {
            text-align: right;
            padding: 0;
        }
    }
}

.menu-item-bg {
    background-color: #ddd;
    background-position: center;
    background-size: cover;
    height: 200px;
}

.price-tag {
    font-size: 32px;
    color: #444;
    font-weight: 700;
    margin-bottom: 0;
}

.order-btn {
    display: inline-block;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid;
    padding: 8px 10px;
    float: right;

    &:hover {
        color: #FF6900;
        text-decoration: none;
    }
}

.hamburger {
    display: none;
}

.currency {
    width: 60px;
    margin-left: 10px;
}

.item {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    font-size: 20px;
    color: #000;

    .col-lg-6 {
        padding-left: 0;
    }

    &:last-of-type {
        border-bottom: none;
    }

    .number {
        margin: 0 10px;
        font-size: 18px;
    }

    .cart-minus, .cart-plus {
        width: 40px;
        height: 40px;
        color: #989898;
        border: 1px solid #f2f2f2;
        border-radius: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        justify-content: center;
        cursor: pointer;

        &:hover {
            color: #FF6900;
        }
    }
}

.item-img {

    img {
        width: 100%;
    }
}

@media (max-width: 1420px) {
    .boxed-btn {
        letter-spacing: 1px;
        padding: 5px 8px;
        line-height: 1.3;
    }

    .logo {
        padding: 10px 0;
    }

    .header {
        .row {
            align-items: center;
        }

        .cart-contact {
            padding: 10px 0;
        }
        .main-menu {
            padding: 6px 0;

            ul li a {
                letter-spacing: 1px;
                padding: 10px 6px;
            }
        }
    }

}

@media (max-width: 1220px) {
    .header .logo {
        margin-right: 5px;

        a {
            font-size: 20px;
            letter-spacing: 1px;
            padding: 0 9px;
        }
    }
    .currency {
        margin-left: 0;
    }

}

@media (max-width: 991px) {
    .header {
        .logo-web {
            display: none;
        }

        .logo-mob {
            display: block;
            text-align: center;
            padding-right: 10px;

            a {
                font-size: 18px;
            }
        }

        .col-5.flex-grid {
            justify-content: flex-end;
            padding: 0 10px;
        }



        .main-menu ul {
            background: #1E201F;
            width: 250px;
            position: absolute;
            top: 50px;
            left: 10px;
            display: none;

            li {
                display: block;
                text-align: left;
                position: relative;

                a {
                    padding: 12px 16px;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: 500;

                    &:hover {
                        background: #FF6900;
                        color: #fff;
                    }
                }
            }
        }
    }

    .footer {
        height: 100px;
    }

    .logo a {
        font-size: 20px;
    }

    .copy_right {
        text-align: center;
    }

    .content-wrapper .container {
        padding: 20px 10px;

        .row {
            margin: 0;
        }
    }

    .col-12 {
        padding: 5px;
    }

    .menu-item {
        padding: 15px;
    }

    .order-btn {
        padding: 4px;
    }

    .details-wrapper {

        .col-3 {
            padding: 0;
        }
    }

    .price-tag {
        font-size: 28px;
    }

    .hamburger {
        display: block;

        span {
            width: 25px;
            height: 3px;
            background: #fff;
            display: block;
            border-radius: 3px;
            margin-bottom: 5px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .wrapper {
        padding-top: 50px;
    }

    .boxed-btn {
        display: none;
    }

    .item .cart-minus, .item .cart-plus {
        width: 20px;
        height: 20px;
    }

}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    .col-9 {
        font-size: 15px;

    }

    .item-img {
        padding: 0;
    }

    .item-name {
        padding: 0px 0 0 10px;
    }

    .header {
        .col-2 {
            padding: 5px;
        }
    }


}










